.label-text {
    font-family: "Helvetica Neue";
    font-weight: lighter;
    font-size: 20px;
    color: #c6c8c8;
    margin-left: 10px;
    margin-right: 10px;
    width: 80%;
    text-align: center;
}

body {
    font-family: "Helvetica Neue";
    font-weight: lighter;
    font-size: 20px;
}

.centered {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}







